<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homescreen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <style>
        .draggable {
            position: absolute;
            touch-action: none;
        }

        .prevent-select {
            user-select: none;
            -webkit-user-select: none;
        }

        .noscroll {
            overflow: hidden;
        }

        .hide-scrollbar {
            scrollbar-width: none;
        }

        .hide-scrollbar::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>

<body class="noscroll prevent-select bg-cover bg-center h-screen p-10" style="background-image: url('/static/images/wallpaper.jpg')">
    {% include 'widgets/music.html' %}
    {% include 'widgets/timedate.html' %}

    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>