<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homescreen</title>
    <!-- TODO: Build TailwindCSS locally -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .draggable {
            position: absolute;
            touch-action: none;
        }
    </style>
</head>
<body class="bg-gray-100 p-10">
    {% include 'widgets/music.html' %}
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>