<div id="widget-music"
  class="draggable rounded-lg shadow-lg bg-gray-500 rounded-md bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-40 flex flex-col items-center justify-center h-[95vh] p-10">
  <div class="details flex flex-col items-center justify-center">
    <div class="track-name text-3xl">Track Name</div>
    <div class="track-artist text-xl mt-2">Track Artist</div>
  </div>

  <div class="buttons flex flex-row items-center mt-6 space-x-4">
    <!-- Previous Track Button -->
    <button type="button" class="bg-white hover:bg-gray-400 rounded-full p-2" aria-label="Previous"
      onclick="prevTrack()">
      <svg width="24" height="24" fill="none">
        <path d="m10 12 8-6v12l-8-6Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M6 6v12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>

    <!-- Play/Pause Button -->
    <button type="button"
      class="bg-white hover:bg-gray-400 text-slate-900 dark:bg-slate-100 dark:text-slate-700 flex-none -my-2 mx-auto rounded-full shadow-md flex items-center justify-center p-4"
      aria-label="Pause" onclick="playpauseTrack()">
      <svg width="30" height="32" fill="currentColor">
        <rect x="6" y="4" width="4" height="24" rx="2" />
        <rect x="20" y="4" width="4" height="24" rx="2" />
      </svg>
    </button>

    <!-- Next Track Button -->
    <button type="button" class="bg-white hover:bg-gray-400 rounded-full p-2" aria-label="Next" onclick="nextTrack()">
      <svg width="24" height="24" fill="none">
        <path d="M14 12 6 6v12l8-6Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M18 6v12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>
</div>

<script src="{{ url_for('static', filename='js/music.js') }}"></script>