<div id="widget-music"
  class="draggable rounded-lg shadow-lg bg-gray-500 rounded-md bg-clip-padding backdrop-filter backdrop-blur-lg bg-opacity-40 flex flex-col items-center justify-center h-[95vh] p-4 pb-6">
  <div class="top-bar flex flex-row items-center justify-between w-full mb-6">
    <button></button>
    <!-- TODO: Filter artist button above -->

    <form id="import-tracks-form" method="post" enctype="multipart/form-data">
      <input type="file" id="import-tracks-input" webkitdirectory directory hidden></input>
    </form>

    <label for="import-tracks-input" class="import-tracks bg-white hover:bg-gray-400 rounded-full p-2" aria-label="Import tracks">
      <img src="https://www.svgrepo.com/show/36324/upload.svg" width="18" height="18">
    </label>
  </div>
  
  <div class="details flex flex-col items-center justify-center px-6">
    <div class="track-name text-3xl">Track Name</div>
    <div class="track-artist text-xl mt-2">Track Artist</div>
  </div>

  <div class="buttons flex flex-row items-center mt-6 space-x-4">
    <!-- Previous Track Button -->
    <button type="button" class="prev-track bg-white hover:bg-gray-400 rounded-full p-2" aria-label="Previous">
      <svg width="24" height="24" fill="none">
        <path d="m10 12 8-6v12l-8-6Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M6 6v12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>

    <!-- Play/Pause Button -->
    <button type="button"
      class="playpause-track bg-white hover:bg-gray-400 text-slate-900 dark:bg-slate-100 dark:text-slate-700 flex-none -my-2 mx-auto rounded-full shadow-md flex items-center justify-center p-4"
      aria-label="Pause">
      <img class="playpause-icon" width="30" height="32">
    </button>

    <!-- Next Track Button -->
    <button type="button" class="next-track bg-white hover:bg-gray-400 rounded-full p-2" aria-label="Next">
      <svg width="24" height="24" fill="none">
        <path d="M14 12 6 6v12l8-6Z" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M18 6v12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
  </div>
</div>

<script src="{{ url_for('static', filename='js/music.js') }}"></script>