<div id="widget-timedate" class="draggable flex flex-col items-center justify-left gap-2">
    <div class="flex flex-row justify-between items-center w-full gap-4">
        <div class="text-6xl text-white text-left font-bold" id="time">00:00</div>
        <div class="h-16 w-0.5 bg-white"></div>

        <div class="text-6xl text-white text-right font-semibold" id="temperature">
            25°C
        </div>
    </div>
    <div class="text-2xl text-white text-left font-bold w-full" id="date">
        Sunday, 23rd of September
    </div>
</div>

<script src="{{ url_for('static', filename='js/timedate.js') }}"></script>